$Softred: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Darkdesaturatedcyan: hsl(167, 40%, 24%);
$Darkblue: hsl(198, 62%, 26%);
$Darkmoderatecyan: hsl(168, 34%, 41%);

$Verydarkdesaturatedblue: hsl(212, 27%, 19%);

$Darkgrayishblue: hsl(232, 10%, 55%);




$Grayishblue: hsl(210, 4%, 67%);


$Verydarkgrayishblue: hsl(213, 9%, 39%);
$White: hsl(0, 0%, 100%);

$WhiteBackground: rgb(249, 246, 241);