@import "../../variables/variables.scss";

.comment {
  background-color: $White;
  display: grid;
  grid-template-columns: 0.3fr 3fr 0.3fr;
  grid-template-rows: 0.2fr auto-fit;

  &__empty-left {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
  &__empty-right {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
  }
  &__navbar {
    margin-top: 1.5rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    .comment__link-login {
      margin-left: 1.5rem;
      cursor: pointer;
      text-decoration: none;
      color: black;
    }

    p {
      color: black;
      font-weight: 700;
    }
  }
  &__navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .comment__link-home {
      margin: 0 1.5rem;
      cursor: pointer;
      text-decoration: none;
      color: black;
    }
  }
}

.comment__wrapper-body {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.comment__body {
  b {
    font-size: 30px;
  }
}

.comment__body-form {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  label {
    color: $Verydarkgrayishblue;
    margin-bottom: 1rem;
  }
  textarea {
    padding: 10px;
    background-color: rgb(247, 247, 247);
    border-radius: 4px;
    border: none;
    resize: none;
    &:focus {
      outline: 1px solid $Grayishblue;
      border-radius: 4px;
    }
  }
}
.comment__post-btn {
  background-color: black;
  color: $White;
  outline: none;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;

  margin-top: 1.5rem;

  &:hover {
    background-color: lighten(black, 10%);
  }
}

.comment__logo {
  grid-column: 2;
}

@media screen and (max-width: 1024px) {
  .comment {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.3fr 3fr 0.3fr;
    grid-template-rows: 0.2fr auto-fit;

    &__body-form {
      grid-column: 1 / 3;
    }
  }
}

@media screen and (max-width: 480px) {
  .comment {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    padding: 15px;
    &__navbar {
      margin-top: 0;
    }
    &__body-form {
      textarea {
        width: 100%;
      }
    }
  }
}
