@import "../variables/variables.scss";

.signup {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr 0.5fr 1.5fr;
  grid-template-rows: 6rem calc(100vh - 6rem);
  background-color: $White;

  &__empty {
    grid-column: 1;
    grid-row: 1/-1;
  }
  &__left {
    grid-column: 2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;

    b {
      font-size: 30px;
      margin-bottom: 2rem;
      margin-top: -2rem;
    }
    form {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
      }
      input {
        padding: 1rem;
        border: none;
        margin: 1rem 0;
        background-color: rgb(247, 247, 247);
        border-radius: 4px;

        &:focus {
          outline: 1px solid $Grayishblue;
          border-radius: 4px;
        }
      }
      .fail {
        outline: 1px solid brown;
      }
      
      .password-warning {
        font-size: 14px;
        visibility: hidden;

      }
      .password-fail {
        color: brown;
        visibility: visible;
        
      }
    }
    button {
      background-color: black;
      color: $White;
      outline: none;
      border: none;
      padding: 1rem 1.5rem;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 1rem;
      &:hover {
        background-color: lighten(black, 10%);
      }
    }
    span {
      color: $Verydarkgrayishblue;
      margin-right: 0.5rem;
    }
    .signup__signin-span {
      color: rgb(46, 148, 177);
      text-decoration: underline;
      cursor: pointer;
      font-weight: 500;
    }
  }

  &__right {
    grid-column: 4;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $WhiteBackground;

    display: grid;
    grid-template-columns: 0.4fr 1fr 0.4fr;

    .citation {
      font-size: 25px;
      line-height: 2rem;
    }
  }
  &__username {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    img {
      margin-right: 0.5rem;
    }
    b {
      font-size: 15px;
    }
    p {
      color: $Verydarkgrayishblue;
      font-size: 14px;
      margin-top: 0.2rem;
    }
  }

  &__navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    img {
      align-self: center;
      margin-bottom: 2px;
    }
    p {
      color: $Verydarkgrayishblue;
      cursor: pointer;
    }
  }
  &__backto-link {
    text-decoration: none;
  }
}
