.signup {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 1.5fr 0.5fr 1.5fr;
      grid-template-columns: 0.3fr 1.5fr 0.5fr 1.5fr;
  -ms-grid-rows: 6rem calc(100vh - 6rem);
      grid-template-rows: 6rem calc(100vh - 6rem);
  background-color: white;
}

.signup__empty {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: 1/-1;
}

.signup__left {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup__left b {
  font-size: 30px;
  margin-bottom: 2rem;
  margin-top: -2rem;
}

.signup__left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup__left form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.signup__left form input {
  padding: 1rem;
  border: none;
  margin: 1rem 0;
  background-color: #f7f7f7;
  border-radius: 4px;
}

.signup__left form input:focus {
  outline: 1px solid #a7abae;
  border-radius: 4px;
}

.signup__left form .fail {
  outline: 1px solid brown;
}

.signup__left form .password-warning {
  font-size: 14px;
  visibility: hidden;
}

.signup__left form .password-fail {
  color: brown;
  visibility: visible;
}

.signup__left button {
  background-color: black;
  color: white;
  outline: none;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.signup__left button:hover {
  background-color: #1a1a1a;
}

.signup__left span {
  color: #5a636c;
  margin-right: 0.5rem;
}

.signup__left .signup__signin-span {
  color: #2e94b1;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.signup__right {
  -ms-grid-column: 4;
  grid-column: 4;
  grid-row: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f6f1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 1fr 0.4fr;
      grid-template-columns: 0.4fr 1fr 0.4fr;
}

.signup__right .citation {
  font-size: 25px;
  line-height: 2rem;
}

.signup__username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.signup__username img {
  margin-right: 0.5rem;
}

.signup__username b {
  font-size: 15px;
}

.signup__username p {
  color: #5a636c;
  font-size: 14px;
  margin-top: 0.2rem;
}

.signup__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signup__navbar img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 2px;
}

.signup__navbar p {
  color: #5a636c;
  cursor: pointer;
}

.signup__backto-link {
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .signup {
    width: 100vw;
    height: 100vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr 0.5fr;
        grid-template-rows: auto 1fr 0.5fr;
  }
  .signup__empty {
    z-index: -100;
  }
  .signup__left {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding: 15px;
    margin: 0;
  }
  .signup__left b {
    margin-bottom: 1rem;
  }
  .signup__left form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .signup__left form div {
    width: 70%;
  }
  .signup__left form input {
    width: 70%;
  }
  .signup__left form button {
    width: 70%;
    margin-top: 1rem;
  }
  .signup__right {
    margin: 0;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 20px;
  }
  .signup__navbar {
    margin: 0;
    margin-bottom: 1rem;
    padding: 15px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .signup__username {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 480px) {
  .signup {
    width: 100vw;
    height: 100vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 150px 1fr 0.8fr;
        grid-template-rows: 150px 1fr 0.8fr;
  }
  .signup__empty {
    z-index: -100;
  }
  .signup__left {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding: 15px;
    margin: 0;
  }
  .signup__left b {
    margin-bottom: 1rem;
  }
  .signup__left form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .signup__left form div {
    width: 100%;
  }
  .signup__left form input {
    width: 100%;
  }
  .signup__left form button {
    width: 100%;
  }
  .signup__right {
    margin: 0;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 20px;
  }
  .signup__navbar {
    margin: 0;
    margin-bottom: 1rem;
    padding: 15px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .signup__username {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=SignUp.css.map */