@import "../../variables/variables.scss";

.list {
  background-color: $White;
  display: grid;
  grid-template-columns: 0.3fr 3fr 0.3fr;
  grid-template-rows: 0.2fr 0.5fr 2fr;

  &__empty-left {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
  &__empty-right {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
  }
  &__navbar {
    margin-top: 1.5rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    .list__link-login {
      margin-left: 1.5rem;
      cursor: pointer;
      text-decoration: none;
      color: black;
    }

    p {
      color: black;
      font-weight: 700;
    }
  }
  &__navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .list__link-home {
      margin: 0 1.5rem;
      cursor: pointer;
      text-decoration: none;
      color: black;
    }
  }
  .list__ham-img {
    display: none;
    background-color: $WhiteBackground;
    padding: 6px;
    border-radius: 5px;
  }

  &__create-btn {
    background-color: black;
    color: $White;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1.5rem;

    &:hover {
      background-color: lighten(black, 20%);
    }
  }

  &__header {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: $WhiteBackground;
    padding: 2rem 2rem;
    box-shadow: 0px 1px 3px 1px rgba(34, 60, 80, 0.2);

    b {
      font-size: 35px;
    }
    p {
      color: $Verydarkgrayishblue;
      margin-bottom: 0.8rem;
      margin-top: 1rem;
      width: 50%;
    }
    form {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        position: absolute;
        margin-left: 1rem;
      }
      input {
        padding: 1rem;
        padding-left: 3rem;
        border-radius: 4px;
        outline: 1px solid $Grayishblue;
        border: none;
        margin-right: 1rem;
      }
      .list__search-btn {
        background-color: black;
        color: $White;
        outline: none;
        border: none;
        padding: 1rem 1.5rem;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: lighten(black, 10%);
        }
      }
    }
    .list__add {
      margin-top: 1.5rem;
      text-decoration: underline 1px;
      width: fit-content;
      cursor: pointer;
      color: $Verydarkgrayishblue;
      .add-link {
        color: $Verydarkgrayishblue;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.5fr auto;
    padding: 15px;
    &__empty {
      z-index: -100;
    }
    &__navbar {
      margin-bottom: 0;
      grid-column: 1;
      grid-row: 1;

      display: grid;
      grid-template-columns: 1.5fr 50px;
      grid-template-rows: minmax(100px, auto) auto;
    }

    .list__ham-img {
      display: block;
      grid-row: 1;
      grid-column: 2;
    }
    .list__ham-wrapper {
      display: flex;
      justify-content: end;
    }

    &__navbar-left {
      grid-column: 1;
      grid-row: 1;
      justify-content: start;
    }

    &__navbar-right {
      grid-column: 1 / 3;
      grid-row: 2;
      justify-content: end;
      margin-bottom: 1rem;
      margin-top: -1rem;
    }

    &__header {
      grid-column: 1;
      grid-row: 2;
      form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        img {
          position: absolute;
          margin-left: 1rem;
          margin-top: 1rem;
        }
        input {
          width: 100%;
        }
        .list__search-btn {
          width: 100%;
          margin-top: 1rem;
        }
      }
      p {
        width: 100%;
        line-height: 1.3rem;
      }
    }
  }
  .cards-component {
    grid-column: 1;
    grid-row: 3;
  }
}
